@font-face{
    font-family: rye;
    src: url(Rye-Regular.ttf);
}

body{
    background-repeat: no-repeat;
    background-size: 1366px 700px;
    background-color: aqua;
    background-attachment: fixed;
    font-family: rye;
}

table.top{
    background-color: rgb(199, 195, 195);
    height: 180px;
    width: 1366px;
    border-radius: 1.5em;
    font-size: 50px;
    text-align: left;
    position: static;
}

table.top tr td.br{
    color: white;
}

table.tabela{
    margin-top: 20px;
    margin-left: 50px; 
}

table.tabela tr td{
    background-color: rgb(199, 195, 195);
    border-radius: 30px;
    font-size: 30px;
    height: 50px;
    width: 150px;
    text-align: center;
    color: white;
}

table.tabela tr th{
    font-size: 30px;
}

/* table.tabelb{
    background-color: white;
    border-radius: 30px;
    height: 65px;
    width: 520px;
    text-align: center;
    font-size: 30px;
}

table.tabelb tr td a:hover{
    zoom: 1.02;
}

table.tabelc{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    height: 65px;
    width: 520px;
    margin-top: 20px;
    font-size: 30px;
}

table.tabelc tr td a:hover{
    zoom: 1.02;
} */

/* table.tabeld tr th{
    font-size: 30px;
} */


table.tabeld tr td input{
    background-color: white;
    font-size: 30px;
    height: 55px;
    width: 500px;
    text-align: center;
    color: black;
    margin-top: 80px;
    margin-bottom: -20px;
    outline: none;
    border: 0px;
    border-radius: 30px;
    font-family: rye;
    margin-left: 0px;
}

table.tabeld tr td input[type="password"]{
    padding-top: 0px;
}

table.tabele tr td.back{
    font-size: 30px;
    color: white;
    text-align: center;
    outline: none;
    padding-top: 50px;
}

table.tabele tr td.back a{
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 30px;
    width: 170px;
    height: 35px;
}

table.tabele tr td.back a:hover{
    background-color: blue;
}

table.tabele tr th{
    font-size: 20px;
    padding-left: 250px;
    padding-right: 200px;
    padding-top: 50px;
    width: 170px;
    height: 40px;
}

table.tabele tr th p:hover{
    color: white;
}

table.tabele tr td.submit input{
    background-color: blue;
    border-radius: 30px;
    color: white;
    outline: none;
    border-color: blue;
    font-family: rye;
    font-size: 30px;
    margin-top: 50px;
}

table.tabele tr td.submit input:hover{
    zoom: 1.02;
}

@media screen and (max-width: 960px) {
    table.top {
        height: 150px;
        width: 700px;
        border-radius: 1.5em;
        font-size: 40px;
        text-align: left;
        position: static;
        background-color: rgb(199, 195, 195);
    }

    table.tabele tr th{
        font-size: 20px;
        padding-left: 110px;
        padding-right: 110px;
        padding-top: 50px;
        width: 170px;
        height: 40px;
    }