@font-face{
    font-family: rye;
    src: url(Rye-Regular.ttf);
}

body{
    background-repeat: no-repeat;
    background-size: 1366px 700px;
    background-color: aqua;
    background-attachment: fixed;
    font-family: rye;
}

table.top{
    background-color: rgb(199, 195, 195);
    height: 2.5%;
    width: 100%;
    border-radius: 1.5em;
    font-size: 70px;
    text-align: left;
    position: static;
}

table.top tr td.br{
    color: white;
}

table.signin {
    margin: 20px;
    height: 60px;
    width: 200px;
    font-size: 35px;
    background-color: black;
    color: white;
    border-radius: 30px;
    text-align: center;
}

table.signin tr td a{
    color: white;
    text-decoration: none;
}

table.signin :hover{
    zoom: 1.02;
}

table.signup {
    margin: 20px;
    height: 60px;
    width: 200px;
    font-size: 35px;
    background-color: black;
    color: white;
    border-radius: 30px;
    text-align: center;
}

table.signup tr td a{
    color: white;
    text-decoration: none;
}

table.signup :hover{
    zoom: 1.02;
}

table.tabel2{
    width: 1366px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    
}

table.populer{
    width: 500px;
    height: 40px;
    font-size: 50px;
    background-color: white;
    margin-left: 200px;
    border-radius: 30px;
    padding: 8px;
    color: blue;
}

table.populer td a{
    color: blue;
    text-decoration: none;
}

table.populer td a:hover{
    zoom: 1.02;
}

table.rekomendasi{
    width: 500px;
    height: 40px;
    font-size: 50px;
    background-color: white;
    margin-right: 140px;
    border-radius: 30px;
    padding: 8px;
    color: red;
}

table.rekomendasi td a{
    color: red;
    text-decoration: none;
}

table.rekomendasi td a:hover{
    zoom: 1.02;
}

table.horor{
    
    height: 40px;
    width: 350px;
    background-color: rgb(145, 37, 37);
    margin: 40px;
    margin-left: 60px;
    font-size: 40px;
    color: gray;
}

table.horor td a:hover{
    zoom: 1.02;
}

table.comedy{
    height: 40px;
    width: 350px;
    background-color: rgb(41, 11, 207);
    margin: 40px;
    font-size: 40px;
}

table.comedy td a:hover{
    zoom: 1.02;
}

table.adventure{
    height: 40px;
    width: 350px;
    background-color: rgb(255, 125, 4);
    margin: 40px;
    font-size: 25px;
    color: rgb(83, 255, 4);
}

table.adventure td a:hover{
    zoom: 1.02;
}

table.history{
    height: 40px;
    width: 350px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 40px;
    margin-left: 60px;
    font-size: 40px;
    margin-top: 0px;
}

table.history td a:hover{
    zoom: 1.02;
}

table.fantasy{
    height: 40px;
    width: 350px;
    background-color: rgb(171, 231, 4);
    margin: 40px;
    font-size: 40px;
    margin-top: 0px;
    color: red;
}

table.fantasy td a:hover{
    zoom: 1.02;
}

table.romance{
    height: 40px;
    width: 350px;
    background-color: rgb(255, 0, 0);
    margin: 40px;
    font-size: 30px;
    margin-top: 0px;
}

table.romance td a{
    color: rgb(243, 131, 150);
    text-decoration: none;
}

table.romance td a:hover{
    zoom: 1.02;
}

@media screen and (max-width: 960px) {
    table.top {
        height: 150px;
        border-radius: 1.5em;
        font-size: 40px;
        text-align: left;
        position: static;
        background-color: rgb(199, 195, 195);
    }

    table.signin {
        height: 50px;
        width: 150px;
        font-size: 25px;
        background-color: black;
        color: white;
        border-radius: 30px;
        text-align: center;
        margin: 20px;
        margin-left: 100px;
    }

    table.signup {
        margin: 20px;
        margin-left: 100px;
        height: 50px;
        width: 150px;
        font-size: 25px;
        background-color: black;
        color: white;
        border-radius: 30px;
        text-align: center;
    }

    table.tabel2{
        width: 960px;
        height: 50px;
        margin-top: 20px;
        text-align: center;
    }

    table.populer{
        width: 300px;
        height: 40px;
        font-size: 30px;
        background-color: white;
        margin-left: 10px;
        border-radius: 30px;
        padding: 8px;
        color: blue;
    }

    table.rekomendasi{
        width: 300px;
        height: 40px;
        font-size: 30px;
        background-color: white;
        border-radius: 30px;
        padding: 8px;
    }

    table.genre{
        width: 700px;
        height: 50px;
        text-align: center;
    }

    table.genre img{
        height: 50px;
        width: 50px;
    }

    table.horor{
        height: 100px;
        width: 180px;
        margin: 40px;
        margin-left: 10px;
        font-size: 40px;
    }

    table.comedy{
        height: 100px;
        width: 180px;
        margin: 0px;
        font-size: 35px;
        margin-left: -30px;
    }
    
    table.history{
        height: 100px;
        width: 180px;
        margin: 40px;
        margin-left: 10px;
        margin-right: 0px;
        font-size: 34px;
        margin-top: 0px;
    }

    table.fantasy{
        height: 100px;
        width: 180px;
        margin: 0px;
        font-size: 32px;
        margin-top: -40px;
        margin-left: -30px;
    }

    table.romance{
        height: 100px;
        width: 180px;
        margin: 0px;
        font-size: 28px;
        margin-top: -40px;
        margin-left: 10px;
    }

    table.adventure{
        height: 100px;
        width: 180px;
        margin: 0px;
        font-size: 20px;
        margin-left: 10px;
    }